# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
.venv/
venv/
env/

# pdf
PRD.pdf

# Environment variables
.env
.env.*

# uv
uv.lock

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Dataset (if large/sensitive)
# dataset/
